<form>
  <div style="margin-right: 5%">
    <label>פרטי מגדל:</label>
    <input type="text" name="towerName" />
  </div>
  <div class="checkbox-group">
    <div>
      <label>מממנים:</label>
      <input type="checkbox" name="sponsors" />
    </div>
    <div>
      <label>מזדמנים:</label>
      <input type="checkbox" name="casuals" />
    </div>
    <div>
      <label>תומרת:</label>
      <input type="checkbox" name="product" />
    </div>
    <div style="width: 100px">
      <label>לפי שינוי:</label>
      <input type="checkbox" name="change" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="form-column">
        <label>Locality name:</label>
        <input type="text" name="settlementName" />
      </div>
      <div class="form-column">
        <label>Grower number:</label>
        <input type="text" name="towerNumber" />
      </div>
      <div class="form-column">
        <label>Order number:</label>
        <input type="text" name="accountingNumber" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-column">
        <label>Site name:</label>
        <input type="text" name="siteName" />
      </div>
      <div class="form-column">
        <label>Site number:</label>
        <input type="text" name="siteNumber" />
      </div>
      <div class="form-column">
        <label>Estate:</label>
        <input type="text" name="nachala" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-column">
        <label>Thesis tax:</label>
        <input type="text" name="idCard" />
      </div>
      <div class="form-column">
        <label>Tax in KN'T:</label>
        <input type="text" name="numberInKN" />
      </div>
    </div>
  </div>
  <div class="population">
    <label>Population:</label>
    <div class="population-checkboxes">
      <div>
        <input type="checkbox" name="activeFor3Years" /><label
          >Active for 3 years</label
        >
      </div>
      <div><input type="checkbox" name="active" /><label>Active</label></div>
      <div><input type="checkbox" name="no" /><label>No</label></div>
      <div><input type="checkbox" name="nothing" /><label>Nothing</label></div>
    </div>
  </div>
  <div class="buttons">
    <button>רענון</button>
    <button>Excel</button>
    <button>חיפוש</button>
  </div>
</form>
