<form>
  <div style="margin-right: 5%">
    <label>פרטי מגדל:</label>
    <input type="text" name="towerName" />
  </div>
  <div class="checkbox-group">
    <div>
      <label>מממנים:</label>
      <input type="checkbox" name="sponsors" />
    </div>
    <div>
      <label>מזדמנים:</label>
      <input type="checkbox" name="casuals" />
    </div>
    <div>
      <label>תומרת:</label>
      <input type="checkbox" name="product" />
    </div>
    <div style="width: 100px">
      <label>לפי שינוי:</label>
      <input type="checkbox" name="change" />
    </div>
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="form-column">
        <label>שם יישוב:</label>
        <input
          type="text"
          name="settlementName"
          [(ngModel)]="settlementName"
          (ngModelChange)="onSettlementNameChange()"
        />
      </div>
      <select #dbcTzrt (change)="onSelectedIndexChanged()">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>

      <div class="form-column">
        <label>מס' מגדל:</label>
        <input type="text" name="towerNumber" />
      </div>
      <div class="form-column">
        <label>מס' הנח''ש:</label>
        <input type="text" name="accountingNumber" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-column" *ngIf="showEstateField">
        <label>נחלה:</label>
        <input type="text" name="nachala" />
      </div>
      <div class="form-column">
        <label>שם אתר:</label>
        <input type="text" name="siteName" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-column">
        <label>ת''ז:</label>
        <input type="text" name="idCard" />
      </div>
      <div class="form-column">
        <label>מס' בקנ''ט:</label>
        <input type="text" name="numberInKN" />
      </div>
    </div>
  </div>
  <div class="population">
    <label class="populationLabel">אוכלוסיה:</label>
    <div class="population-checkboxes">
      <div>
        <input type="checkbox" name="activeFor3Years" /><label
          >פעיל 3 שנים</label
        >
      </div>
      <div><input type="checkbox" name="active" /><label>פעיל</label></div>
      <div><input type="checkbox" name="no" /><label>לא</label></div>
      <div><input type="checkbox" name="nothing" /><label>כלום</label></div>
    </div>
  </div>
  <div class="buttons">
    <button>רענון</button>
    <button>Excel</button>
    <button (click)="onMainSearch()">חיפוש</button>
  </div>
</form>
